<header>
    <div class="nav">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/about">About</a></li>                
            <li><a href="/books">books</a></li>
            <li><a href="/bookResults">bookResult</a></li>
            <!-- These are links inide pages ejs files  -->
        </ul>
    </div>

    Not sure how to connect it to pages
</header>