<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>About Book</title>
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/about">About</a></li>                
                <li><a href="/books">books</a></li>
                <li><a href="/bookResults">bookResult</a></li>
            </ul>
        </div>
    </header>

    <form action="/bookResults" method="POST">
        <div class="testDate">
            <label>Publish Date:</label>
            <input type="date" name="publishDate" value= "2020-09-01" >
            <a href="/books">Cancel</a>
            <!-- books is the link in pages -->
            <button type ="submit">Create</button>
        </div> 
    </form>
        
    
</body>
</html>