<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Book Result</title>
</head>
<body>
    <% include('../partials/header.ejs')  %> 
    <!-- Above ^ Dosent work -->
<header>
    <div class="nav">
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/about">About</a></li>                
            <li><a href="/books">books</a></li>
            <li><a href="/bookResults">bookResult</a></li>
            <!-- These are links inide pages ejs files  -->
        </ul>
    </div>
</header>
     Date <%= objDate  %> 
     

</body>
</html>